@import "tailwindcss";
:root {
    --text: #ffffff
}

@theme {
    --color-primary-10: #181818;
    --color-primary-20: #1C1C1C;
    --bg-slate-500: #333333
}

.active {
    background-color: #312EB5;
}

.mid {
    background-color: #FFFFFF08;
}

.activemid {
    background-color: #FFFFFF1A;
}

.activeFolder {
    background-color: #FFFFFF08;
}

.ele:hover {
    background-color: white;
    opacity: 0.7;
}

.bg-left {
    background-color: var(--color-primary-10);
}

.bg-mid {
    background-color: var(--color-primary-20);
}

.btn {
    background-color: #242424;
}

@layer utilities {
    .scrl::-webkit-scrollbar {
        width: 6px;
    }
    .scrl::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 10px;
    }
    .scrl::-webkit-scrollbar-track {
        background: rgba(61, 61, 61, 1);
        border-radius: 10px;
    }
    .scrl::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .list {
        @apply flex flex-row gap-4 text-white h-10 pb-1 px-5 py-2.5;
    }
}