@import "tailwindcss";

@theme{
  --color-primary-10: #181818;
  --color-primary-20: #1C1C1C;

}

.bg-left {
  background-color: var(--color-primary-10);
}

.bg-mid {
  background-color: var(--color-primary-20);
}

.btn{
  background-color: #242424;
}